<head>
  <script src="https://kit.fontawesome.com/a076d05399.js" defer></script>
</head>
<footer class="primary">
  <div layout="row" layout-align="center center">
		<a href='https://www.linkedin.com/in/jodecir/' target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
		<a href='https://www.linkedin.com/in/jodecir/' target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
		<a href='https://github.com/Jodecir' target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
		<a href='https://github.com/Jodecir' target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
  </div>
</footer>
