footer i {
  padding: 15px;
}

footer i:hover {
  transform: scale(1.15);
}

footer a {
  text-decoration: none;
  color: white;
}

.primary {
  color: white;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
